@page "/Admin/Category/Create"
@inject DataDbContext dbContext;
@inject NavigationManager NavigationManager
@layout AdminLayout



<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Add Category</h1>
    <a href="/Admin/Category/Index" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fas fa-arrow-left fa-sm text-white-50"></i> Back to Categories
    </a>
</div>

<!-- Content Row -->
<div class="row">
    <div class="col-lg-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Category Details</h6>
            </div>
            <div class="card-body">
                <EditForm Enhance=true Model="category" FormName="CreateCategoryForm" OnValidSubmit="CreateCategoryMethod">
                    <DataAnnotationsValidator />

                    <!-- Name Field -->
                    <div class="form-group">
                        <label for="name" class="font-weight-bold text-gray-800">Category Name</label>
                        <InputText id="name" class="form-control" placeholder="Enter category name" @bind-value="category.Name"></InputText>
                        @* <small class="text-danger d-none">Please enter the Category Name</small> *@
                        <ValidationMessage For="@(() => category.Name)" class="text-danger" />
                    </div>

                    <!-- Description Field -->
                    <div class="form-group">
                        <label for="description" class="font-weight-bold text-gray-800">Description</label>
                        <InputTextArea id="Description" class="form-control" placeholder="Enter description" @bind-value="category.Description"></InputTextArea>
                        @* <small class="text-danger d-none">Please enter the Description</small> *@
                        <ValidationMessage For="@(() => category.Description)" class="text-danger" />
                    </div>

                    <!-- Slug Field -->
                    <div class="form-group">
                        <label for="slug" class="font-weight-bold text-gray-800">Slug (e.g., remote-job)</label>
                        <InputText id="slug" class="form-control" placeholder="Enter slug" @bind-Value="category.slug"></InputText>
                        @* <small class="text-danger d-none">Please enter the Slug (e.g., remote-job)</small> *@
                        <ValidationMessage For="@(() => category.slug)" class="text-danger" />
                    </div>

                    <!-- Submit Button -->
                    <button type="submit" class="btn btn-primary btn-block">
                        <i class="fas fa-save fa-sm text-white-50"></i> Save
                    </button>
                </EditForm>
            </div>
        </div>
    </div>
</div>


@code {
    [SupplyParameterFromForm]
    public Category category { get; set; } = new();


    private void CreateCategoryMethod()
    {
        dbContext.Categories.Add(category);
        dbContext.SaveChanges();
        NavigationManager.NavigateTo("/Admin/Category/Index");
    }


}
